:root {
  line-height: 1.5;
  color: #483219;
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

@font-face {
  font-family: 'TheJamsil5Bold';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302_01@1.0/TheJamsil5Bold.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
}

a {
  font-weight: 400;
  color: #6C574E;
  text-decoration: inherit;
}
a:hover {
  color: #CCA57A;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'TheJamsil5Bold';
  box-sizing: border-box;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}
li {
  list-style: none;
}

input {
  font-family: 'TheJamsil5Bold';
}

button {
  font-family: 'TheJamsil5Bold';
}