@media screen and (max-width: 767px) {
    .customModal {
      width: 200px;
      height: 310px;
      border-radius: 20px;
      background-color:#FDFAE3
    }
}
@media screen and (min-width: 768px){
    .customModal {
        width: 400px;
        height: 620px;
        border-radius: 20px;
        background-color:#FDFAE3;
        padding:20px;
        
    }
}